
@{
    ViewData["Title"] = "Add";
}

@model Product 


<h1>Ürün Ekleme</h1>
<form asp-controller="Product" asp-action="Add"  method="post">
    <label>Ürün ismi:</label>
    <input type="text" asp-for="Name"/>
    <br/>
    <label>Ürün Değeri:</label>
    <input type="text" asp-for="Price"/>
    <br/>
    <label>Ürün Stok:</label>
    <input type="text" asp-for="Stock"/>
    <br/>
    <label>Ürün renk:</label>
    <input type="text" asp-for="Color"/>

    <button type="submit">Ürün Kaydet</button>
</form>




